<h1>Lista de Tarefas</h1>
<ul class="list-group">

	<% tarefas.forEach(tarefa=> { %>
		<li class="list-group-item" style="display:flex; justify-content: space-between">
			<div>
				<a href="/tarefa/<%- tarefa.id_tarefa %>">
					<%= tarefa.title %>
				</a>
			</div>
			<div>
				<a href="/tarefa/update/<%- tarefa.id_tarefa %>">
					<i class="bi-pencil-square" style="font-size: 1rem; color: #00f;"></i>
				</a>
				<a href="/tarefa/delete/<%- tarefa.id_tarefa %>">
					<i class="bi-x-circle" style="font-size: 1rem; color: #F00;"></i>
				</a>
			</div>

		</li>
		<% }); %>
</ul>
<hr />
<div class="container-fluid">
	<h1>Adicionar tarefa na lista</h1>
	<form action="/tarefa" method="POST">

		<div class="mb-3">
			<label for="tituloTarefa" class="form-label">Título</label>
			<input type="text" name="titulo" class="form-control">
			<input type="hidden" name="id_usuario" value="<%- locals.layoutVariables.user.id_usuario %>">
		</div>
		<div class="mb-3">
			<label for="descricaoTarefa" class="form-label">Descrição</label>
			<input class="form-control" name="descricao" id="descricaoTarefa"></input>
		</div>
		<div class="mb-3">
			<button type="submit">Adicionar</button>
		</div>

	</form>
</div>