<%- usuario.nome %>
<div style="margin:o auto;">
	<form method="post" action="/usuario/salvar">
		<input type="hidden" name="idUsuario" value="value="<%- usuario.id_usuario %>" />
		<div class="mb-3">
			<label for="formControlInputNome" class="form-label">Nome</label>
			<input class="form-control" name="nome" value="<%- usuario.nome %>" type="text" placeholder="Nome">
		</div>
			<div class="mb-3">
			<label for="formControlInputEmail" class="form-label">E-mail</label>
			<input type="email" class="form-control" name="email" value="<%- usuario.email %>" id="formControlInputEmail" placeholder="nome@exemplo.com">
		</div>
		<div class="mb-3">
			<label for="formFile" class="form-label">Imagem</label>
			<input class="form-control" name="imagem" value="<%- usuario.imagem %>"type="file" id="formFile">
		</div>
		<div class="mb-3">
			<button type="submit" class="btn btn-primary mb-3">Salvar</button>
		</div>	
	</form>
</div>
